.container section {
  display: flex;
  flex-direction: column;
}

.recommendList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 30px;
}
.movieList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
