.all_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 10px;
  gap: 10px;
}

.random_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 10px;
  gap: 10px;
}

.all_img,
.random_img {
  background-color: #ccc;
  width: 100%;
  padding-bottom: 150%;
}
